<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container">
        <h1 class="text-center logo my-4">
            وارد شدن به اکانت
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% block main_body %}
                            <form method="post" novalidate>
                                {% csrf_token %}
                                  <input type="hidden" name="next" value="{{ next }}">
                                {% include 'includes/form.html' %}
                                <button type="submit" class="btn btn-primary btn-block">ورود</button>
                            </form>
                        {% endblock %}
                    </div>
                    <div class="card-footer text-muted text-center">
                        اکانت ندارید ؟ <a href="{% url "account:signup" %}">ثبت نام</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

