<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="login-page">
{% endblock body-class-block %}

{% block main_content %}
    <div class="page-header header-filter"
         style="background-image: url('{% static "assets/img/bg3.jpg" %}'); background-size: cover; background-position: top center;">
        <div class="container">

            <div class="row" style="margin-top:30px;">
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup" style="margin-bottom:0 !important;">
                        <form class="form" method="post" action="">
                            <div class="header header-primary text-center">
                                <h4 class="card-title yekanFont">ورود به سایت</h4>
                            </div>
                            <div class="card-content">

{#                                <div class="input-group">#}
{#									<span class="input-group-addon">#}
{#										<i class="material-icons">email</i>#}
{#									</span>#}
{#                                    <div class="form-group"><input type="text" class="form-control yekanFont"#}
{#                                                                   placeholder="ایمیل..."><span#}
{#                                            class="material-input"></span></div>#}
{#                                </div>#}
{##}
{#                                <div class="input-group">#}
{#									<span class="input-group-addon">#}
{#										<i class="material-icons">lock_outline</i>#}
{#									</span>#}
{#                                    <div class="form-group"><input type="password" placeholder="رمز عبور..."#}
{#                                                                   class="form-control yekanFont"><span#}
{#                                            class="material-input"></span>#}
{#                                    </div>#}
{#                                </div>#}
                                {% csrf_token %}
                                {% include "includes/form.html" %}

                            </div>
                            <div class="footer text-center">
                                <button href="" type="submit" class="btn btn-secondary btn-wd btn-lg yekanFont">ورود</button>
                                ‍‍ <br/>
                                <a href="" class="btn btn-primary btn-simple btn-wd btn-lg yekanFont ">ثبت نام</a>

                                <a href="" class="btn btn-primary btn-simple btn-wd btn-lg yekanFont">فراموشی / بازیابی
                                    رمز عبور</a>

                            </div>
                        </form>
                    </div>
                </div>
                <!--<div class="col-md-7">-->
                <!--<div class="card card-signup" id="signUpCard">-->
                <!--<form class="form" method="" action="">-->
                <!--<div class="header header-info text-center">-->
                <!--<h4 class="card-title yekanFont">ثبت نام کاربر</h4>-->
                <!--<div class="social-line">-->
                <!--&lt;!&ndash;<a href="" class="btn btn-just-icon btn-simple">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-facebook-square"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="btn btn-just-icon btn-simple">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<a href="" class="btn btn-just-icon btn-simple">-->
                <!--<i class="fa fa-google-plus"></i>-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<p class="description text-center">Or Be Classical</p>&ndash;&gt;-->
                <!--<div class="card-content">-->

                <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="input-group-addon">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="form-group form-info">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="form-control yekanFont" placeholder="نام کاربری..."><span&ndash;&gt;-->
                <!--&lt;!&ndash;class="material-input"></span></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<i class="material-icons">email</i>-->
                <!--</span>-->
                <!--<div class="form-group form-info"><input type="text" class="form-control yekanFont" name="registerEmail"-->
                <!--placeholder="ایمیل..."><span-->
                <!--class="material-input"></span></div>-->
                <!--</div>-->

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<i class="material-icons">email</i>-->
                <!--</span>-->
                <!--<div class="form-group form-info"><input type="text" class="form-control yekanFont" name="registerEmailCopy"-->
                <!--placeholder="دوباره ایمیل را وارد کنید..."><span-->
                <!--class="material-input"></span></div>-->
                <!--</div>-->

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<i class="material-icons">lock_outline</i>-->
                <!--</span>-->
                <!--<div class="form-group form-info"><input type="password" placeholder="رمز عبور..."-->
                <!--class="form-control yekanFont"><span-->
                <!--class="material-input"></span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<i class="material-icons">lock_outline</i>-->
                <!--</span>-->
                <!--<div class="form-group form-info"><input type="password" placeholder="دوباره رمز عبور را وارد کنید..."-->
                <!--class="form-control yekanFont"><span-->
                <!--class="material-input"></span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<i class="material-icons">face</i>-->
                <!--</span>-->
                <!--<div class="form-group form-info">-->
                <!--<input type="text" class="form-control yekanFont" placeholder="نام و نام خانوادگی..."><span-->
                <!--class="material-input"></span></div>-->
                <!--</div>-->

                <!--&lt;!&ndash; If you want to add a checkbox to this form, uncomment this code-->

                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox" name="optionsCheckboxes" checked>-->
                <!--Subscribe to newsletter-->
                <!--</label>-->
                <!--</div> &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="footer text-center">-->
                <!--<a href="" class="btn btn-info btn-simple btn-wd btn-lg yekanFont normalFontSize">ثبت نام</a>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
            </div>


        </div>
    </div>
{% endblock main_content %}

