<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="login-page">
{% endblock body-class-block %}

{% block main_content %}
    <div class="page-header header-filter"
         style="background-image: url('{% static "assets/img/bg3.jpg" %}');
                 background-size: cover; background-position: top center;">
        <div class="container">

            <div class="row" style="margin-top:30px;">
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup" style="margin-bottom:0 !important;">
                        <form class="form" method="post" action="">
                            <div class="header header-primary text-center">
                                <h4 class="card-title yekanFont">ورود به سایت</h4>
                            </div>
                            <div class="card-content">
                                {% csrf_token %}
                                {% include "includes/form.html" %}
                            </div>
                            <div class="footer text-center">
                                <button href="" type="submit" class="btn btn-secondary btn-wd btn-lg yekanFont">ورود
                                </button>
                                ‍‍ <br/>
                                <a href="{% url "account:signup" %}" class="btn btn-primary btn-simple btn-wd btn-lg yekanFont ">ثبت نام</a>

                                <a href="#" class="btn btn-primary btn-simple btn-wd btn-lg yekanFont">فراموشی / بازیابی
                                    رمز عبور</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock main_content %}

