<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}


{% block main_content %}
    <div class="page-header header-filter"
         style="background-image: url("{% static  'assets/img/bg3.jpg' %}"); background-size: cover;
    background-position: top center;">
    <div class="container">

        <div class="row" style="margin-top:30px;">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-12">
                <div class="card"
                     style="box-shadow:none !important;background:none !important;margin-bottom:0 !important;width:100% !important;  ">
                    <div class="alert alert-success " style="border-radius:10px !important;">
                        <!--<div class="container-fluid">-->
                        <div class="alert-icon pull-right"
                             style="margin-right:5px !important;margin-left:15px !important;">
                            <i class="material-icons">done</i>
                        </div>
                        <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close"
                                style="margin-right:15px !important;margin-left:5px !important;">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <p class="text-justify yekanFont normalFontSize">
                            توجه : فقط تخفیفاتی که استفاده نشده اند قابلیت استفاده دارند، برای دریافت کد
                            تخفیف به صفحه کافه ها مراجعه کنید
                        </p>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock main_content %}

