<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}
    <section class="space--md text-right">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="tabs-container tabs--vertical">
                        <ul class="tabs">
                            {% if cafe_profile_discounts %}

                                <li class="active">
                                    <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                            class="h5">تخفیفات کاربران</span></div>
                                    <div class="tab__content">
                                        {% for discount , value in cafe_profile_discounts.items %}
                                            <h4> {{ discount }}</h4>

                                            <div class="alert__body">
                                                {% for user_discount in value %}
                                                    <span>   {{ user_discount.code }}</span>
                                                    <span> | | </span>
                                                    <span>   {{ user_discount.user.username }}</span>
                                                    {% if not user_discount.status == "used" %}
                                                        <a href="{% url "account:delete_discount" %}?pk={{ user_discount.pk }}"
                                                           class="btn btn-secondary btn-lg active" role="button"
                                                           aria-pressed="true">دریافت شد</a>
                                                    {% endif %}

                                                    <h1>

                                                    </h1>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}

                                        <h2>تخفیفات استفاده شده</h2>
                                        {% for used_discount in used_discounts %}

                                            <a class="btn btn--sm type--uppercase"
                                               href=""> <span
                                                    class="btn__text">
                                            {{ used_discount.user.username }} || {{ used_discount }} || {{ used_discount.date }}
                                            </span>
                                            </a>
                                        {% endfor %}
                                        <p></p>
                                        {% for cafe_statistic in admin_statistics %}
                                            <a class="btn btn--sm type--uppercase"
                                               href=""> <span
                                                    class="btn__text">
                                            {{ cafe_statistic.0 }} || {{ cafe_statistic.1 }} || {{ cafe_statistic.2 }}
                                            </span>
                                            </a>
                                        {% endfor %}



                                        <h2>اضافه کردن تخفیف کافه</h2>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            {{ form.as_table }}
                                            <input type="submit" value="Submit">
                                        </form>

                                    </div>
                                </li>

                            {% endif %}

                            <li class="active">
                                <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                        class="h5">تخفیفات فعال</span></div>
                                <div class="tab__content">

                                    {% if request.user.is_superuser %}
                                        {% for discount in user_active_discounts %}
                                            <a class="btn btn--sm type--uppercase"
                                               href=""> <span
                                                    class="btn__text">
                                        {{ discount.code }} || {{ discount.date }} || {{ discount.discount }}
                                            </span>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>

                            <li class="active">
                                <div class="tab__title"><i class="icon icon--sm block icon-Target-Market"></i> <span
                                        class="h5">مشخصات من</span></div>
                                <div class="tab__content">
                                    <p class="lead">  {{ user.username }}: نام کاربری </p>
                                    <p class="lead"> {{ user.email }}: آدرس ایمیل </p>
                                </div>
                            </li>
                            <li>
                                <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                        class="h5">تخفیفات گرفته شده</span></div>
                                <div class="tab__content">
                                    {% for discount in user_discount %}
                                        <div class="alert__body">
                                            <span>   {{ discount }}</span>
                                            <h4>code {{ discount.code }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
