<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}
    <section class="space--md text-right">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="tabs-container tabs--vertical">
                        <ul class="tabs">

                            {% if request.user.is_superuser %}

                                <li class="">
                                    <div class="tab__title"><i class="icon icon--sm block icon-Target-Market"></i> <span
                                            class="h5">سوپر ادمین</span></div>
                                    <div class="tab__content">
                                        {% for cafe_statistic in admin_statistics %}
                                            <a class="btn btn--sm type--uppercase"
                                               href=""> <span
                                                    class="btn__text">
                                            {{ cafe_statistic.0 }} || {{ cafe_statistic.1 }} || {{ cafe_statistic.2 }}
                                            </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}

                            {% if is_cafe_profile %}
                                <li class="active">
                                    <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                            class="h5">تخفیفات کاربران</span></div>
                                    <div class="tab__content">


                                        <h2>بخش تخفیفات فعال</h2>


                                        {% for discount , value in cafe_profile_discounts.items %}
                                            <h4> {{ discount }}</h4>
                                            <table style="width:100%">
                                                <tr>
                                                    <th>عنوان تخفیف</th>
                                                    <th>کد تخفیف</th>
                                                    <th>کاربر</th>
                                                    <th>دریافت</th>
                                                </tr>
                                                <div class="alert__body">
                                                    {% for user_discount in value %}
                                                        <tr>
                                                            <td>{{ user_discount }}</td>
                                                            <td>{{ user_discount.code }}</td>
                                                            <td>{{ user_discount.user.username }}</td>
                                                            <td>
                                                                <a href="{% url "account:delete_discount" %}?pk={{ user_discount.pk }}"
                                                                   class="btn btn-secondary btn-lg active" role="button"
                                                                   aria-pressed="true">دریافت شد</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </div>
                                            </table>
                                        {% endfor %}

                                        <h2>تخفیفات استفاده شده</h2>

                                        <a class="btn btn--sm type--uppercase"
                                           href="{% url "account:cafe_discount_archives" %}"> <span
                                                class="btn__text">
                                           برای مشاهده همه کلیک کنید
                                            </span>
                                        </a>
                                        <p></p>


                                        <h3> ---- اضافه کردن تخفیف کافه -------</h3>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            {{ form.as_table }}
                                            <input type="submit" value="تایید">
                                        </form>
                                        <h3> --------------------------</h3>


                                        <h3> ---- حذف تخفیفات -------</h3>
                                        {% for discount in all_cafe_discounts %}
                                            <a class="btn btn--sm type--uppercase"
                                               href="{% url "account:delete_cafe_discount" %}?pk={{ discount.pk }}"> <span
                                                    class="btn__text">
                                            {{ discount }}  حذف ||
                                            </span>
                                            </a>
                                        {% endfor %}
                                        <h3> --------------------------</h3>


                                    </div>
                                </li>
                            {% endif %}

                            <li class="">
                                <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                        class="h5">بخش تخفیفات</span></div>
                                <div class="tab__content">

                                    <h4>تخفیفات فعال</h4>
                                    <table style="width:100%">
                                        <tr>
                                            <th>کد تخفیف</th>
                                            <th>تاریخ ثبت</th>
                                            <th>توضیح</th>
                                        </tr>
                                        {% for discount in user_active_discounts %}
                                            <tr>
                                                <td>{{ discount.code }}</td>
                                                <td>{{ discount.date }}</td>
                                                <td>{{ discount.discount }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>


                                    <h4> تخفیفات *استفاده شده </h4>
                                    <table style="width:100%">
                                        <tr>
                                            <th>توضیح</th>
                                            <th>تاریخ استفاده</th>
                                        </tr>

                                        {% if user_used_discounts_archive %}
                                            {% for used_discount in user_used_discounts_archive %}
                                                <tr>
                                                    <td>{{ used_discount }}</td>
                                                    <td>{{ used_discount.date }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                            </li>

                            <li class="">
                                <div class="tab__title"><i class="icon icon--sm block icon-Target-Market"></i> <span
                                        class="h5">مشخصات من</span></div>
                                <div class="tab__content">
                                    <p class="lead">  {{ user.username }}: نام کاربری </p>
                                    <p class="lead"> {{ user.email }}: آدرس ایمیل </p>
                                </div>
                            </li>
                            <li>
                                <div class="tab__title"><i class="icon icon--sm block icon-Text-Effect"></i> <span
                                        class="h5">تخفیفات گرفته شده</span></div>
                                <div class="tab__content">
                                    {% for discount in user_discount %}
                                        <div class="alert__body">

                                            <h4>{{ discount.date }} || {{ discount.code }} || {{ discount }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
