<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="login-page">
{% endblock body-class-block %}

{% block main_content %}
    <div class="page-header header-filter"
         style="background-image: url('{% static "assets/img/bg3.jpg'" %}); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-signup" id="signUpCard">
                        <form class="form" method="" action="">
                            <div class="header header-info text-center">
                                <h4 class="card-title yekanFont">ثبت نام کاربر</h4>
                                <div class="social-line">
                                </div>
                            </div>
                            <div class="card-content">

                            {% csrf_token %}
                            {% include 'includes/form.html' %}

                            </div>
                            <div class="footer text-center">
                                <a href="" class="btn btn-info btn-wd btn-lg yekanFont normalFontSize">ثبت نام</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock main_content %}

