<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}


{% block main_content %}
    <table style="width:100%">
        <tr>
            <th>شماره</th>
            <th>توضیح تخفیف</th>
            <th>کاربر</th>
            <th>زمان استفاده</th>
            <th>توضیح وضعیت</th>
        </tr>
        {% for used_discount in all_used_discounts %}
            <tr>
                <td>{{ used_discount.pk }}</td>
                <td>{{ used_discount }}</td>
                <td>{{ used_discount.user }}</td>
                <td>{{ used_discount.date }}</td>
                <td>{{ used_discount.used_discount_info }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock main_content %}

