*.xml
media/*
db.sqlite3
.idea/
media/
files/
venv/
sneeds-django/sneeds/local.py
sneeds/local.py
APIs.py
passwords.py
keys.py
ff.py

*.egg-info
*.pot
*.py[co]
.tox/
.vscode/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
