autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
Django==2.2.3
django-filter==2.1.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
idna==2.8
psycopg2==2.8.3
pycodestyle==2.5.0
PyJWT==1.7.1
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.3
