python-http-client==3.1.0
pytz==2019.1
redis==3.3.7
requests==2.22.0
requests-toolbelt==0.9.1
ruamel.yaml==0.15.99
sendgrid==6.0.5
sib-api-v3-sdk==6.0.2
six==1.12.0
sqlparse==0.3.0
tornado==5.1.1
transactions==0.2.0
uritemplate==3.0.0
urllib3==1.25.3
vine==1.3.0
zeep==3.4.0