
defusedxml==0.6.0
Django==2.2.3
django-cleanup==4.0.0
django-cors-headers==3.0.2
django-filter==2.1.0
django-rest-passwordreset==1.0.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
drf-yasg==1.16.0
future==0.17.1
idna==2.8