<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}
    <div class="main-container">
        <section class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="masonry">
                            <div class="masonry-filter-container d-flex align-items-center">
                                <span>Category:</span>
                                <div class="masonry-filter-holder">
                                    <div class="masonry__filters" data-filter-all-text="All Categories"></div>
                                </div>
                            </div>
                            <hr>
                            <div class="masonry__container row">
                                <div class="masonry__item col-md-6"></div>

                                {% for post in post_list %}
                                    <div class="masonry__item col-md-6" data-masonry-filter="Marketing">
                                        <article class="feature feature-1">
                                            <a href="{% url "website:posts" post.0.slug %}" class="block">
                                                <img alt="Image" src="{{ post.0.post_image.url }}"/>
                                            </a>
                                            <div class="feature__body boxed boxed--border">
                                                <span>{{ post.0.title }}</span>
                                                <h5>{{ post.1 }}</h5>
                                                <a href="{% url "website:posts" post.0.slug %}">
                                                    بیشتر بخوانید
                                                </a>
                                            </div>
                                        </article>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--end of masonry container-->
                            <div class="pagination">
                                <a class="pagination__prev" href="#" title="Previous Page">&laquo;</a>
                                <ol>
                                    {% for number in page_number %}
                                        {% if number.1 %}
                                            <li>
                                                <a href="{% url "website:blog" number.0 %}">
                                                    {{ number.0 }}</a>
                                            </li>
                                        {% else %}
                                            <li class="pagination__current">{{ number.0 }}</li>
                                        {% endif %}

                                    {% endfor %}

                                </ol>
                                <a class="pagination__next" href="#" title="Next Page">&raquo;</a>
                            </div>
                        </div>
                        <!--end masonry-->
                    </div>
                    <div class="col-lg-4 hidden-sm">
                        <div class="sidebar boxed boxed--border boxed--lg bg--secondary">
                            <div class="sidebar__widget">
                                <h5>Search site</h5>
                                <form>
                                    <input type="text" name="query" placeholder="Type search here"/>
                                </form>
                            </div>
                            <!--end widget-->
                            <div class="sidebar__widget">
                                <h5>Text Widget</h5>
                                <p>
                                    Our new digital products will take your workflow to all-new levels of high
                                    productivity.
                                    We know you'll find everything you need - and more! Start building with Stack.
                                </p>
                            </div>
                            <!--end widget-->
                            <div class="sidebar__widget">
                                <h5>Tags</h5>
                                <ul class="tag-cloud">
                                    <li>
                                        <a href="#">Freelancing</a>
                                    </li>
                                    <li>
                                        <a href="#">Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Small Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Entrepreneurship</a>
                                    </li>
                                    <li>
                                        <a href="#">Marketing</a>
                                    </li>
                                    <li>
                                        <a href="#">Inspiration</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end widget-->
                            <div class="sidebar__widget">
                                <h5>Categories</h5>
                                <ul>
                                    <li>
                                        <a href="#">Freelancing</a>
                                    </li>
                                    <li>
                                        <a href="#">Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Small Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Entrepreneurship</a>
                                    </li>
                                    <li>
                                        <a href="#">Marketing</a>
                                    </li>
                                    <li>
                                        <a href="#">Inspiration</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end widget-->
                            <div class="sidebar__widget">
                                <h5>Archives</h5>
                                <ul>
                                    <li>
                                        <a href="#">August 2016</a>
                                    </li>
                                    <li>
                                        <a href="#">July 2016</a>
                                    </li>
                                    <li>
                                        <a href="#">June 2016</a>
                                    </li>
                                    <li>
                                        <a href="#">May 2016</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end widget-->
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>

{% endblock main_content %}