<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="ecommerce-page" style="height:100%">
{% endblock body-class-block %}

{% block main_content %}

    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url('{% static "assets/img/note.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1 class="title yekanFont rtl">مخرن جزوات دانشگاهی اسنیدز</h1>
                        <h3 class="yekanFont rtl">
                            دیتابیسی به روز و در حال تکمیل از جزوات و نمونه سوالات دانشگاهی از اساتید و دانشگاه های برتر
                            کشور
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end navbar -->
    <div id="sneedsBookletListFirst"></div>
    <div class="wrapper">
        <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="margin-top:20px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb yekanFont">
                                <li class="breadcrumb-item"><a href="{% url "website:home" %}">صفحه اول</a></li>
                                <li class="breadcrumb-item active" aria-current="page">جزوات</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <h2 class="section-title yekanFont rtl text-right">دسته بندی جزوات</h2>
                <hr>
                <div class="row">

                    {% for field in fields %}


                        <div class="col-md-3">
                            <div class="dropdown">
                                <button href="#pablo"
                                        class="dropdown-toggle btn btn-primary btn-block yekanFont normalFontSize2"
                                        data-toggle="dropdown" aria-expanded="false">{{ field.subject }} <b
                                        class="caret"></b>
                                    <div class="ripple-container"></div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right yekanFont normalFontSize2 text-right w-100">
                                    {% for topic in field.topics.all %}


                                        <li><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            <br/>
            <br/>
            <br/>
            </div>
        </div>
    </div>

{% endblock main_content %}
