<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="product-page" style="height:100%">
{% endblock body-class-block %}

{% block main_content %}

<div class="page-header header-filter" data-parallax="true" filter-color="primary"
     style="background-image: url('{% static "assets/img/bg3.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
        <div class="row title-row">
            <div class="col-md-4 col-md-offset-8">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb yekanFont">
                        <li class="breadcrumb-item"><a href="#">صفحه اول</a></li>
                        <li class="breadcrumb-item"><a href="{% url "website:booklets_home" %}">جزوات</a></li>
                        <li class="breadcrumb-item"><a href="{{ booklet.topic.field.get_absolute_url }}">{{ booklet.topic.field }}</a></li>
                        <li class="breadcrumb-item"><a href="{{ booklet.topic.get_absolute_url }}">{{ booklet.topic.subject }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ booklet.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>

<div class="section section-gray" style="z-index:9;">
    <div class="container">
        <div class="main main-raised main-product">


            <div class="row">
                <div class="col-md-6">
                    <img src="{{ booklet.booklet_image.url }}" alt="booklet image" style="border-radius:3px !important; "class="img-responsive"
                         draggable="false">
                    <div class="row">

                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="title yekanFont text-right rtl">{{ booklet.title }}</h2>
                    <h4 class="title yekanFont text-right rtl">{{ booklet.topic }}</h4>
                    <hr>
                    <div>
                        <div class="icon icon-primary pull-right" style="margin-left:10px">
                            <i class="material-icons">format_color_text</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yekanFont">نویسنده : {{ booklet.owner }}</h4>
                        </div>
                    </div>

                    <div>
                        <div class="icon icon-primary pull-right" style="margin-left:10px">
                            <i class="material-icons">picture_as_pdf</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yekanFont">حجم
                                : {{ booklet.booklet_content.size|filesizeformat }}</h4>
                        </div>
                    </div>

                    {% if is_visited %}

                    <div>
                        <div class="icon icon-primary pull-right" style="margin-left:10px">
                            <i class="material-icons">personal_video</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title yekanFont"> مشاهده شده</h4>
                        </div>
                    </div>
                    {% endif %}


                    <hr>

                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <a href="{{ booklet.booklet_content.url }}" class="btn btn-primary yekanFont normalFontSize" role="button">
                                                &nbsp; دانلود جزوه &nbsp;
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
                <div class="pull-left">
                    <a class="btn btn-danger normalFontSize pull-left yekanFont" href="{{ booklet.topic.get_absolute_url }}"
                       style="margin-left:15px">
                        بازگشت
                        <i class="material-icons">arrow_back_ios</i>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock main_content %}
