<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.title.id_for_label }}">عنوان جزوه :</label>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.field.errors }}
            <label for="{{ form.field.id_for_label }}">رشته : </label>
            {{ form.field }}
        </div>
        <div class="fieldWrapper">
            {{ form.topic.errors }}
            <label for="{{ form.topic.id_for_label }}">موضوع : </label>
            {{ form.topic }}
        </div>
        <div class="fieldWrapper">
            {{ form.writer.errors }}
            <label for="{{ form.writer.id_for_label }}">نویسنده :</label>
            {{ form.writer }}
        </div>
        <input type="submit" value="Submit">
    </form>



{% endblock main_content %}