<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}

    <section class="feature-large switchable">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="boxed boxed--lg boxed--border">
                        <div class="feature feature-2"><i class="icon icon-Clock-Back color--primary"></i>
                            <div class="feature__body">
                                <h5>عنوان</h5>
                                <p> {{ booklet.title }} </p>
                            </div>
                        </div>
                        <div class="feature feature-2"><i class="icon icon-Clock-Back color--primary"></i>
                            <div class="feature__body">
                                <h5>حجم جزوه</h5>
                                <p> بعدا محاسبه و قرار داده شود(اتوماتیک و توسط جنگو)</p>
                            </div>
                        </div>
                        <div class="feature feature-2"><i class="icon icon-Clock-Back color--primary"></i>
                            <div class="feature__body">
                                <h5>نویسنده</h5>
                                <p> {{ booklet.owner }} </p>
                            </div>
                        </div>
                        <div class="feature feature-2"><i class="icon icon-Clock-Back color--primary"></i>
                            <div class="feature__body">
                                <h5>توضیحات</h5>
                                <p> {{ booklet.text }}</p>
                            </div>
                        </div>
                        <div class="feature feature-2"><i class="icon icon-Duplicate-Window color--primary"></i>
                            <div class="feature__body">
                                <h5>موضوع</h5>
                                <p>
                                    <stron>{{ booklet.topic.subject }}</stron>
                                </p>
                            </div>
                        </div>
                        <div class="feature feature-2"><i class="icon icon-Life-Jacket color--primary"></i>
                            <div class="feature__body">
                                <a class="btn btn--primary" href="{{ booklet.booklet_content.url }}">
                                    <span class="btn__text">دریافت جزوه</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6"><img alt="Image" class="border--round box-shadow-wide"
                                                    src="{{ booklet.booklet_image.url }}"></div>
            </div>
        </div>
    </section>

{% endblock main_content %}
