<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}

{% block main_content %}
    <div class="main-container">
        <section class="feature-large switchable text-right bg--secondary switchable--switch">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-6"><img alt="Image" class="border--round box-shadow-wide"
                                                        src=" {% static "img/inner-5.jpg" %}"></div>
                    <div class="col-lg-5 col-md-6">
                        <div class="heading-block">
                            <h2>اسنیدز مرجع رفع نیازهای دانشجویی</h2>
                        </div>
                        <div class="text-block">
                            <h5>گفتگو با دانشجویان ایرانی دانشگاه‌های آمریکا، کانادا، اروپا و ...</h5>
                            <p>سایت sneeds هر هفته با دانشجو های محصل در خارج کشور مصاحبه کرده و اطلاعات با ارزشی درمورد
                                اپلای و تحصیل در خارج در اختیار دانشجو ها قرار میدهد همچنین به طور پیوسته با اساتید هر
                                رشته
                                درباره اپلای صحبت کرده و برروی سایت قرار داده می‌شود.</p>
                        </div>
                        <div class="text-block">
                            <h5>جزوات آموزشی</h5>
                            <p> سایت اسنیدز با جمع اوری جزوات آموزشی به روز شده از دانشجو ها و اساتید باعث گردیده که هر
                                دانشجویی در هر زمانی دسترسی به جزوات آموزشی داشته و آن هارا با قیمتی بسیار اندکی تهیه
                                کنند. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_posts_images.0 }}"
                                                  class="border--round">
                            <h4>{{ first_three_posts.0.title }}</h4>
                            <p> {{ first_three_posts_bodies.0 }} </p>
                            <a class="btn btn--primary" href="{% url "website:posts" first_three_posts.0.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_posts_images.1 }}"
                                                  class="border--round">
                            <h4>{{ first_three_posts.1.title }}</h4>
                            <p> {{ first_three_posts_bodies.1 }}</p>
                            <a class="btn btn--primary" href="{% url "website:posts" first_three_posts.1.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_posts_images.2 }}"
                                                  class="border--round">
                            <h4>{{ first_three_posts.2.title }}</h4>
                            <p> {{ first_three_posts_bodies.2 }}</p>
                            <a class="btn btn--primary" href="{% url "website:posts" first_three_posts.2.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_booklets.0.booklet_image.url }}"
                                                  class="border--round">
                            <h4>{{ first_three_booklets.0.title }}</h4>
                            <a class="btn btn--primary" href="{% url "website:booklets" first_three_booklets.0.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_booklets.1.booklet_image.url }}"
                                                  class="border--round">
                            <h4>{{ first_three_booklets.1.title }}</h4>
                            <a class="btn btn--primary" href="{% url "website:booklets" first_three_booklets.1.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature"><img alt="Image" src="{{ first_three_booklets.2.booklet_image.url }}"
                                                  class="border--round">
                            <h4>{{ first_three_booklets.2.title }}</h4>
                            <a class="btn btn--primary" href="{% url "website:booklets" first_three_booklets.2.pk %}">
                                <span class="btn__text">پست</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock main_content %}