<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body style="height:100%">
{% endblock body-class-block %}

{% block main_content %}
    <div id="carousel-example-generic" class="carousel slide rtl" data-ride="carousel">
        <div class="carousel slide rtl" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators rtl">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <div class="page-header header-filter">

                        <div class="container h-100" style="z-index:100">
                            <div class="row">
                                <div class="col-md text-right rtl">
                                    <h1 class="title yekanFont">اسنیدز، مرجع رفع نیاز های دانشجویی</h1>
                                    <h4 class="yekanFont">بخش جزوات اسنیدز شامل دیتابیسی عظیم از جزوات دانشگاهیست که به
                                        صورت
                                        رایگان در دسترس شما خواهد بود</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="{% url "website:booklets_home" %}"
                                           class="btn btn-primary btn-lg yekanFont customHoverButton normalFontSize2">
                                            مشاهده لیست جزوات
                                            <i class="material-icons">
                                                keyboard_arrow_left
                                            </i>
                                        </a>
                                        <a target="_blank" href="http://www.sneeds.ir"
                                           class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="#fff"
                                                      d="M9.78,18.65L10.06,14.42L17.74,7.5C18.08,7.19 17.67,7.04 17.22,7.31L7.74,13.3L3.64,12C2.76,11.75 2.75,11.14 3.84,10.7L19.81,4.54C20.54,4.21 21.24,4.72 20.96,5.84L18.24,18.65C18.05,19.56 17.5,19.78 16.74,19.36L12.6,16.3L10.61,18.23C10.38,18.46 10.19,18.65 9.78,18.65Z"/>
                                            </svg>
                                        </a>
                                        <a target="_blank" href="http://www.sneeds.ir"
                                           class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="#fff"
                                                      d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <video autoplay muted loop id="myVideo" style="z-index:-100;position:absolute;top:0;left:0">
                            <source src="{% static 'assets/videos/movie.mp4' %}" type="video/mp4">
                        </video>
                    </div>

                </div>
                <div class="item">
                    <div class="page-header header-filter"
                         style="background-image: url('{% static "assets/img/dg1.jpg" %}');">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center  rtl">
                                    <h1 class="title yekanFont">عنوان تست</h1>
                                    <h4 class="yekanFont">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده
                                        از طراحان گرافیک است.</h4>
                                    <br>
                                    <h6 class="yekanFont">تماس با ما:</h6>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="page-header header-filter"
                         style="background-image: url('{% static "assets/img/dg1.jpg" %}');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5 text-right">
                                    <h1 class="title yekanFont">کافه به سبک اسنیدز</h1>
                                    <h4 class="yekanFont">تخفیفات کافه های معتبر شروع از 15 درصد با همکاری اسنیدز</h4>
                                    <br>

                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-white btn-simple btn-lg yekanFont">
                                            <i class="material-icons">share</i>درباره اسنیدز
                                        </a>
                                        <a href="{% url "discounts:home" %}" class="btn btn-danger btn-lg yekanFont">
                                            <i class="material-icons">local_cafe</i> ورود به لیست کافه ها
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control rtl" href="#carousel-example-generic" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
            <a class="right carousel-control rtl" href="#carousel-example-generic" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
    </div>

{% endblock main_content %}

