<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}


{% block main_content %}
    <div class="main-container">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider" data-arrows="true" data-paging="true">
                            <ul class="slides">
                                {% for image in cafe.images.all %}
                                    <li><img alt="Image" src="{{ image.image.url }}"></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="switchable feature-large text-right">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-5 col-md-6 switchable__text">
                        <h2>{{ cafe.name }}</h2>
                        <p class="lead"> {{ cafe.information }}</p>

                        {% if not_auth %}
                            <div class="alert">
                                <div class="alert__body">
                                    <span>
                                        لطفا برای دریافت تخفیف وارد سایت شوید
                                   </span>
                                </div>

                            </div>
                        {% endif %}


                        {% for discount in cafe.discounts.all %}
                            <div class="alert">
                                <div class="alert__body">
                                    <span>   {{ discount }}</span>
                                </div>

                                {% if not discount.user_discount in request.user.user_discounts.all %}
                                    <div class="bar__module">
                                        <a class="btn btn--sm type--uppercase" name="{{ discount.discount_percent }}"
                                           href="{{ cafe.get_absolute_url }}?pk={{ discount.pk }}#{{ discount.discount_percent }}"
                                           methods="get"> <span
                                                class="btn__text">
دریافت کد تخفیف
                                        </span>
                                        </a>
                                    </div><!--end of modal instance-->
                                {% elif discount.user_discount %}
                                    <div class="bar__module">
                                    <h6>{{ discount.user_discount.code }}</h6>
                                    </div><!--end of modal instance-->

                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="boxed boxed--lg boxed--border box-shadow-wide">
                            <div class="slider" data-paging="true">
                                <ul class="slides">
                                    <li class="col-12">
                                        <div class="feature feature-3 text-center"><i
                                                class="icon icon--lg icon-Mail-3 color--primary"></i>
                                            <h4>آدرس</h4>
                                            <p>{{ cafe.address }} </p>
                                        </div>
                                    </li>
                                    <li class="col-12">
                                        <div class="feature feature-3 text-center"><i
                                                class="icon icon--lg icon-Air-Balloon color--primary"></i>
                                            <h4>شماره تماس</h4>
                                            <p> {{ cafe.phone_number }} </p>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock main_content %}



