<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="product-page">
{% endblock body-class-block %}

{% block main_content %}
    <div class="page-header header-filter" data-parallax="true" filter-color="primary"
         style="background-image: url('{% static "assets/img/cafe.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row title-row">
                <div class="col-md-4 col-md-offset-8">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb yekanFont">
                            <li class="breadcrumb-item"><a href="#">صفحه اول</a></li>
                            <li class="breadcrumb-item"><a href="{% url "discounts:home" %}">کافه ها</a></li>
                            <li class="breadcrumb-item active" aria-current="page">کافه اسنیدز</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-gray">
        <div class="container">
            <div class="main main-raised main-product">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="card card-raised card-carousel">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel slide" data-ride="carousel">

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"
                                            class="active"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">

                                        {% for image in cafe.images.all %}

                                            <div class="item {% if image == cafe.images.all.0 %} active {% endif %}">
                                                <img src="{{ image.image.url }}" alt="Awesome Image">
                                            </div>

                                        {% endfor %}

                                    </div>

                                    <!-- Controls -->

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2 class="title yekanFont"> {{ cafe.name }} </h2>
                        <br>
                        <p class="text-justify yekanFont">{{ cafe.information }}</p>
                        <hr>

                        <div class="info info-horizontal" style="margin-right:0 !important;padding:0 !important;">
                            <h4 class="text-right yekanFont normalFontSize">اطلاعات تخفیف کافه :‌</h4>
                        </div>

                        {% if not_auth %}
                            <div class="alert">
                                <div class="alert__body">
                                    <span>
                        <div class="alert alert-info">
                            <!--<div class="container-fluid">-->
                            <div class="alert-icon pull-right"
                                 style="margin-right:5px !important;margin-left:15px !important;">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close"
                                    style="margin-right:15px !important;margin-left:5px !important;">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <p class="text-justify yekanFont normalFontSize">توجه : برای دریافت کد تخفیف باید حتما در
                                حساب
                                خود وارد شده باشید. </p>
                            <!--</div>-->
                        </div>                                   </span>
                                </div>

                            </div>
                        {% endif %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="text-center table table-striped yekanFont">
                                            <thead>
                                            <tr class="yekanFont">
                                                <td>مقدار درصد</td>
                                                <td>مدل منو</td>
                                                <td>دریافت کد</td>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            {% for discount in cafe.discounts.all %}
                                                <tr>


                                                    <td>  {{ discount.discount_percent }}٪ تخفیف</td>
                                                    <td>هر دو منو</td>
                                                    <td class="td-actions">
                                                        {% if not_auth %}



                                                            <button type="button" class="btn btn-default"
                                                                    data-toggle="popover"
                                                                    data-placement="left" title=""
                                                                    data-content="برای دریافت کد تخفیف باید وارد حساب خود شوید."
                                                                    data-container="body"
                                                                    data-original-title="ابتدا وارد شوید">
                                                                <i class="material-icons">shopping_cart</i>

                                                                دریافت کد تخفیف
                                                                <div class="ripple-container"></div>
                                                            </button>



                                                        {% elif not discount in discounts_with_user %}

                                                            <a href="{{ cafe.get_absolute_url }}?pk={{ discount.pk }}#{{ discount.discount_percent }}"
                                                               class="btn btn-success yekanFont">
                                                                <i class="material-icons">shopping_cart</i>
                                                                دریافت کد تخفیف
                                                            </a>


                                                        {% else %}
                                                            <button style="cursor:default"
                                                                    class="btn yekanFont">
                                                                <i class="material-icons">done</i>
                                                                دریافت شد. برای مشاهده به پروفایل خود مراجعه کنید.
                                                            </button>

                                                        {% endif %}
                                                    </td>


                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="acordeon">


                            <div class="panel-group" id="accordion">
                                <div class="panel panel-border panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo"
                                           aria-controls="collapseOne">
                                            <h4 class="panel-title yekanFont normalFontSize">
                                                اطلاعات تماس
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="info info-horizontal"
                                                 style="margin-right:0 !important;padding:0 !important;">
                                                <div class="icon icon-primary pull-right"
                                                     style="margin-left:5px !important;">
                                                    <i class="material-icons">phone</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title yekanFont rtl text-right">
                                                        شماره تماس : ‌
                                                        <span class="yekanFont">{{ cafe.phone_number }}</span>
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="info info-horizontal"
                                                 style="margin-right:0 !important;padding:0 !important;">
                                                <div class="icon icon-primary pull-right"
                                                     style="margin-left:5px !important;">
                                                    <i class="material-icons">pin_drop</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title yekanFont">آدرس کافه : </h4>
                                                    <p class="yekanFont normalFontSize text-justify">
                                                        {{ cafe.address }}
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--  end acordeon -->


                        <div class="row text-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

