<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="product-page">
{% endblock body-class-block %}

{% block main_content %}
    <div class="page-header header-filter" data-parallax="true" filter-color="primary"
         style="background-image: url('{% static "assets/img/cafe.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row title-row">
                <div class="col-md-4 col-md-offset-8">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb yekanFont">
                            <li class="breadcrumb-item"><a href="#">صفحه اول</a></li>
                            <li class="breadcrumb-item"><a href="#">کافه ها</a></li>
                            <li class="breadcrumb-item active" aria-current="page">کافه اسنیدز</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-gray">
        <div class="container">
            <div class="main main-raised main-product">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="product-slider">
                            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active"><img src="assets/img/cafe1.jpg"></div>
                                    <div class="item"><img src="assets/img/cafe2.jpg"></div>
                                    <div class="item"><img src="assets/img/cafe3.jpg"></div>
                                    <div class="item"><img src="assets/img/cafe4.jpg"></div>
                                    <!--<div class="item"><img src="assets/img/cafe.jpg"></div>-->
                                </div>
                            </div>
                            <div class="clearfix">
                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div data-target="#carousel" data-slide-to="0" class="thumb"><img
                                                    src="assets/img/cafe1.jpg"></div>
                                            <div data-target="#carousel" data-slide-to="1" class="thumb"><img
                                                    src="assets/img/cafe2.jpg"></div>
                                            <div data-target="#carousel" data-slide-to="2" class="thumb"><img
                                                    src="assets/img/cafe3.jpg"></div>
                                            <div data-target="#carousel" data-slide-to="3" class="thumb"><img
                                                    src="assets/img/cafe4.jpg"></div>
                                            <!--<div data-target="#carousel" data-slide-to="4" class="thumb"><img-->
                                            <!--src="assets/img/cafe.jpg"></div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- /thumbcarousel -->

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2 class="title yekanFont"> {{ cafe.name }} </h2>
                        <br>
                        <p class="text-justify yekanFont">{{ cafe.information }}</p>
                        <hr>

                        <div class="info info-horizontal" style="margin-right:0 !important;padding:0 !important;">
                            <h4 class="text-right yekanFont normalFontSize">اطلاعات تخفیف کافه :‌</h4>
                        </div>

                        {% if not_auth %}
                            <div class="alert">
                                <div class="alert__body">
                                    <span>
                        <div class="alert alert-info">
                            <!--<div class="container-fluid">-->
                            <div class="alert-icon pull-right"
                                 style="margin-right:5px !important;margin-left:15px !important;">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close"
                                    style="margin-right:15px !important;margin-left:5px !important;">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <p class="text-justify yekanFont normalFontSize">توجه : برای دریافت کد تخفیف باید حتما در
                                حساب
                                خود وارد شده باشید. </p>
                            <!--</div>-->
                        </div>                                   </span>
                                </div>

                            </div>
                        {% endif %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="text-center table table-striped yekanFont">
                                            <thead>
                                            <tr class="yekanFont">
                                                <td>مقدار درصد</td>
                                                <td>مدل منو</td>
                                                <td>دریافت کد</td>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            <tr>
                                                <td>۱۵ درصد</td>
                                                <td>هر دو منو</td>
                                                <td class="td-actions">
                                                    {% if not_auth %}

                                                        <button type="button" class="btn btn-default"
                                                                data-toggle="popover"
                                                                data-placement="left" title=""
                                                                data-content="برای دریافت کد تخفیف باید وارد حساب خود شوید."
                                                                data-container="body"
                                                                data-original-title="ابتدا وارد شوید">
                                                            <i class="material-icons">shopping_cart</i>

                                                            دریافت کد تخفیف
                                                            <div class="ripple-container"></div>
                                                        </button>


                                                    {% else %}


                                                        <a href="#" class="btn btn-success yekanFont">
                                                            <i class="material-icons">shopping_cart</i>
                                                            دریافت کد تخفیف
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="acordeon">


                            <div class="panel-group" id="accordion">
                                <div class="panel panel-border panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo"
                                           aria-controls="collapseOne">
                                            <h4 class="panel-title yekanFont normalFontSize">
                                                اطلاعات تماس
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="info info-horizontal"
                                                 style="margin-right:0 !important;padding:0 !important;">
                                                <div class="icon icon-primary pull-right"
                                                     style="margin-left:5px !important;">
                                                    <i class="material-icons">phone</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title yekanFont rtl text-right">
                                                        شماره تماس : ‌
                                                        <span class="yekanFont">{{ cafe.phone_number }}</span>
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="info info-horizontal"
                                                 style="margin-right:0 !important;padding:0 !important;">
                                                <div class="icon icon-primary pull-right"
                                                     style="margin-left:5px !important;">
                                                    <i class="material-icons">pin_drop</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title yekanFont">آدرس کافه : </h4>
                                                    <p class="yekanFont normalFontSize text-justify">
                                                        {{ cafe.address }}
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--  end acordeon -->


                        <div class="row text-right">
                            <a class="btn btn-danger yekanFont normalFontSize pull-left" style="margin-left:15px;"
                               href="cafeList.html">
                                بازگشت
                                <i class="material-icons">arrow_back_ios</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

