<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}


{% block main_content %}
    <div class="main-container">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider" data-arrows="true" data-paging="true">
                            <ul class="slides">
                                {% for image in cafe.images.all %}
                                    <li><img alt="Image" src="{{ image.image.url }}"></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="switchable feature-large text-right">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-5 col-md-6 switchable__text">
                        <h2>{{ cafe.name }}</h2>
                        <p class="lead"> {{ cafe.information }}</p>

                        {% for discount in cafe.discounts.all %}
                            <div class="alert">
                                <div class="alert__body">
                                    <span>   {{ discount }}</span>
                                </div>
                                <div class="modal-instance">
                                    <a class="btn modal-trigger" href="#">
		                            <span class="btn__text">
			                                        مشاهده کد تخفیف
                                    </span>
                                    </a>
                                    <div class="modal-container">
                                        <div class="modal-content">
                                            <div class="boxed boxed--border">
                                                <p>
                                                    لطفا هنگام سفارش در کافه این کد تخفیف را به متصدی ارائه کنید تا از
                                                    10
                                                    درسئ
                                                    تخفیف روی تمامی خدمات استفاده کنید .
                                                </p>
                                                <a class="btn btn--primary" href="#">
		                                    <span class="btn__text">
                                                LG223DotCode
                                            </span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div><!--end of modal instance-->

                            </div>
                        {% endfor %}

                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="boxed boxed--lg boxed--border box-shadow-wide">
                            <div class="slider" data-paging="true">
                                <ul class="slides">
                                    <li class="col-12">
                                        <div class="feature feature-3 text-center"><i
                                                class="icon icon--lg icon-Mail-3 color--primary"></i>
                                            <h4>آدرس</h4>
                                            <p>{{ cafe.address }} </p>
                                        </div>
                                    </li>
                                    <li class="col-12">
                                        <div class="feature feature-3 text-center"><i
                                                class="icon icon--lg icon-Air-Balloon color--primary"></i>
                                            <h4>شماره تماس</h4>
                                            <p> {{ cafe.phone_number }} </p>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock main_content %}



