<!doctype html>
{% extends 'website/../bases/base.html' %}
{% load static %}


{% block main_content %}
    <body data-smooth-scroll-offset="77">
    <div class="nav-container"></div>
    <div class="main-container">
        <section>
            <div class="container">
                <div class="masonry">
                    <div class="masonry__container row masonry--active">
                        {% for cafe in cafes %}
                            <div class="col-md-4 masonry__item">
                                <div class="card card-2 text-center">
                                    <div class="card__top">
                                        <a href="{% url "discounts:cafe_page" cafe.slug %}"> <img alt="Image" src="{{ cafe.images.all.1.image.url }}"> </a>
                                    </div>
                                    <div class="card__body">
                                        <h4>{{ cafe }}</h4> <span
                                            class="type--fade">روی تمامی خدمات و منو</span>
                                        <p> بعدا در اینجا چیز هایی در مورد نوع کافه و توضیحات قرار داده شود و استفاده
                                            شود. توسط </p>
                                    </div>
                                    <div class="card__bottom text-center">
                                        <a class="btn btn--primary" href="{% url "discounts:cafe_page" cafe.slug %}">
                                            <span class="btn__text">مشاهده کافه و دریافت تخفیف</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock main_content %}




