<!doctype html>
{% extends 'website/../bases/base-new.html' %}
{% load static %}

{% block body-class-block %}
    <body class="ecommerce-page" style="height:100%">
{% endblock body-class-block %}

{% block main_content %}

    <!-- end navbar -->

    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url('{% static "assets/img/note.jpg" %}'); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1 class="title yekanFont rtl">جزوات رشته {{ object_list.0.topic.field.subject }} </h1>
                        <h3 class="yekanFont rtl">
                            دیتابیسی به روز و در حال تکمیل از جزوات و نمونه سوالات دانشگاهی از اساتید و دانشگاه های برتر
                            کشور
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="margin-top:20px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb yekanFont">
                                <li class="breadcrumb-item"><a href="{% url "website:home" %}">صفحه اول</a></li>
                                <li class="breadcrumb-item"><a href="{% url "website:booklets_home" %}">جزوات</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">{{ search_text }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <h2 class="section-title yekanFont rtl text-right">لیست جزوات</h2>
                <hr>
                <div class="row">

                </div>

                <div class="row">

                    {% if booklets %}
                        {% for booklet in booklets %}
                            <div class="col-md-3">

                                <div class="rotating-card-container" style="height: 302px; margin-bottom: 30px;">
                                    <div class="card card-rotate card-background">
                                        <div class="front front-background"
                                             style="background-image: url({{ booklet.booklet_image.url }});">
                                            <div class="card-content">
                                                <!--<h6 class="category text-info yekanFont">کافه تست</h6>-->
                                                <a href="#pablo">
                                                    <h3 class="card-title yekanFont">{{ booklet.title }}</h3>
                                                </a>
                                                <p class="card-description yekanFont text-center normalFontSize2">
                                                    {{ booklet.topic }}
                                                </p>
                                            </div>
                                        </div>
                                        <!-- background-image: url(assets/img/cafe4.jpg) in style with back-background class -->
                                        <div class="back back-background"
                                             style="background-image:url({{ booklet.booklet_image.url }});">
                                            <div class="card-content">
                                                <h5 class="card-title yekanFont">
                                                    استاد : {{ booklet.teacher }}
                                                </h5>
                                                <p class="card-description yekanFont text-center">
                                                    نویسنده : {{ booklet.owner }}
                                                </p>
                                                <div class="footer text-center">
                                                    <a href="{{ booklet.get_absolute_url }}"
                                                       class="btn btn-success btn-fill btn-wd yekanFont normalFontSize2">
                                                        <i class="material-icons">note</i>
                                                        دریافت جزوه
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="section-title yekanFont rtl text-right"> جزوه‌ای یافت نشد :(</h2>
                        <br/>
                        <br/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock main_content %}

