<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {% static "css/stack-interface.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href=" {% static "css/flickity.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href=" {% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href=" {% static "css/stack-interface.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href=" {% static "css/theme.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href=" {% static "css/custom.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href=" {% static "css/socicon.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href=" {% static "css/iconsmind.css" %}" rel="stylesheet" type="text/css" media="all"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">


</head>
<body data-smooth-scroll-offset="77">
<div class="nav-container">
    <div>
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="{% url "website:home" %}"> <img class="logo logo-dark" alt="logo"
                                                                 src=" {% static "img/logo-dark.png" %}"> <img
                                class="logo logo-light" alt="logo" src=" {% static "img/logo-light.png" %}"> </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i
                                class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="{% url "website:home" %}"> <img class="logo logo-dark" alt="logo"
                                                                     src=" {% static "img/logo-dark.png" %}"> <img
                                    class="logo logo-light" alt="logo" src=" {% static "img/logo-light.png" %}"> </a>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="{% url "discounts:home" %}"> <span
                                    class="btn__text">
                                    تخفیفات
                                </span> </a>
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="bar__module">
                                <a class="btn btn--sm type--uppercase" href="{% url "account:login" %}"> <span
                                        class="btn__text">
                                    ورود
                                </span> </a>
                                <a class="btn btn--sm btn--primary type--uppercase"
                                   href="{% url "account:signup" %}"> <span
                                        class="btn__text">عضویت
                                </span> </a>
                            </div>
                        {% else %}
                            <div class="bar__module">
                                <a class="btn btn--sm btn--primary type--uppercase"
                                   href="{% url "account:logout" %}"> <span
                                        class="btn__text">{{ user.username }} خروج از
                                </span> </a>

                                <a class="btn btn--sm type--uppercase" href="{% url "account:my_account" %}"> <span
                                        class="btn__text">
اکانت من
                                </span> </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

{% block main_content %}
{% endblock main_content %}
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "js/parallax.js" %}"></script>
<script src="{% static "js/smooth-scroll.min.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
<script src="{% static "js/flickity.min.js" %}"></script>
<script src="{% static "js/easypiechart.min.js" %}"></script>
<script src="{% static "js/typed.min.js" %}"></script>
<script src="{% static "js/datepicker.js" %}"></script>
<script src="{% static "js/isotope.min.js" %}"></script>
<script src="{% static "js/ytplayer.min.js" %}"></script>
<script src="{% static "js/lightbox.min.js" %}"></script>
<script src="{% static "js/granim.min.js" %}"></script>
<script src="{% static "js/jquery.steps.min.js" %}"></script>
<script src="{% static "js/countdown.min.js" %}"></script>
<script src="{% static "js/twitterfetcher.min.js" %}"></script>
<script src="{% static "js/spectragram.min.js" %}"></script>

</body>

</html>